.product__section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
main{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1320px;
}

@media screen and (max-width:1200px){
  .product__section{
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr) );

  }
}
